In [38]:
import pandas as pd
import numpy as np

In [39]:
df= pd.read_csv("Fortune_10_1.csv")

In [40]:
df1=df.copy()
df1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,NaN
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,NaN,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [41]:
df1=df1.dropna(how="all")
df1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,NaN
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,NaN,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

# Change Particular Vlue

In [42]:
df1.replace(to_replace="IT Services", value="IT")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,NaN
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,NaN,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [43]:
df1.replace("IT Services", "IT")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,NaN
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,NaN,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [44]:
df1.replace(["IT Services", np.nan], "IT")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,IT
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,IT,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,IT,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,IT,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,IT,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

# Change Specific Column's Vlues

In [45]:
df1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,NaN
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,NaN,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [46]:
df1.replace({"Industry": np.nan}, "IT Services")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,NaN
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,IT Services,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,IT Services,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,IT Services,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,IT Services,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

# Change All Strings

In [47]:
df1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,NaN
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,NaN,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [48]:
df1.replace("[A-Za-z]", 0, regex=True)

     ID Name Industry  Inception       Revenue Expenses      Profit Growth
0   1.0    0        0     2009.0  $11,757,018         0   5274553.0    30%
1   2.0    0        0     2010.0  $12,329,371         0  11412916.0    NaN
2   3.0    0        0     2012.0  $10,597,009         0   3005820.0     7%
3   4.0    0        0     2013.0  $14,026,934         0   6597557.0    26%
4   5.0    0      NaN     2009.0  $10,573,990         0   3138627.0     8%
5   6.0    0      NaN     2006.0  $13,898,119         0   8427816.0    23%
6   7.0    0      NaN     2010.0   $9,254,614         0   3005116.0     6%
7   8.0    0      NaN     2009.0   $9,451,943         0   5573830.0     4%
9  10.0    0        0     2011.0  $11,088,336         0   5453060.0     7%

In [49]:
df1

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,NaN
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,NaN,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [52]:
df1.replace("IT Services", method="pad")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,NaN
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,Health,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,NaN,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [53]:
df1.replace("IT Services", method="pad",limit=2)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,NaN
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,Health,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,NaN,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%