In [16]:
import pandas as pd

In [17]:
d= pd.read_csv("Fortune_10_1.csv")
df=d.copy()
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,NaN
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,NaN,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

# Fill NaN Vlaues with interpolathion

In [18]:
df.interpolate()

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,NaN
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,NaN,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,NaN,NaN,2010.0,NaN,NaN,5513445.0,NaN
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [19]:
df.interpolate(method="index")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,NaN
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,NaN,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,NaN,NaN,2010.0,NaN,NaN,5513445.0,NaN
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [20]:
df.interpolate(method="nearest")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,NaN
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,NaN,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,8.0,NaN,NaN,2009.0,NaN,NaN,5573830.0,NaN
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [21]:
df.interpolate(method="polynomial", order=1)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,NaN
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,NaN,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,NaN,NaN,2010.0,NaN,NaN,5513445.0,NaN
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [22]:
df.interpolate(limit=1)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,NaN
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,NaN,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,NaN,NaN,2010.0,NaN,NaN,5513445.0,NaN
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [24]:
df.interpolate(limit=1, limit_direction="both")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,NaN
2,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,Kayelectronics,NaN,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,NaN,NaN,2010.0,NaN,NaN,5513445.0,NaN
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060.0,7%