In [1]:
import pandas as pd
d=pd.read_csv("drinks.csv",nrows=9)
df=d.copy()
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America
6,Argentina,193,25,221,8.3,South America
7,Armenia,21,179,11,3.8,Europe
8,Australia,261,72,212,10.4,Oceania

In [3]:
df.melt()

                        variable              value
0                        country        Afghanistan
1                        country            Albania
2                        country            Algeria
3                        country            Andorra
4                        country             Angola
5                        country  Antigua & Barbuda
6                        country          Argentina
7                        country            Armenia
8                        country          Australia
9                  beer_servings                  0
10                 beer_servings                 89
11                 beer_servings                 25
12                 beer_servings                245
13                 beer_servings                217
14                 beer_servings                102
15                 beer_servings                193
16                 beer_servings                 21
17                 beer_servings                261
18               spirit_servings                  0
19               spirit_servings                132
20               spirit_servings                  0
21               spirit_servings                138
22               spirit_servings                 57
23               spirit_servings                128
24               spirit_servings                 25
25               spirit_servings                179
26               spirit_servings                 72
27                 wine_servings                  0
28                 wine_servings                 54
29                 wine_servings                 14
30                 wine_servings                312
31                 wine_servings                 45
32                 wine_servings                 45
33                 wine_servings                221
34                 wine_servings                 11
35                 wine_servings                212
36  total_litres_of_pure_alcohol                0.0
37  total_litres_of_pure_alcohol                4.9
38  total_litres_of_pure_alcohol                0.7
39  total_litres_of_pure_alcohol               12.4
40  total_litres_of_pure_alcohol                5.9
41  total_litres_of_pure_alcohol                4.9
42  total_litres_of_pure_alcohol                8.3
43  total_litres_of_pure_alcohol                3.8
44  total_litres_of_pure_alcohol               10.4
45                     continent               Asia
46                     continent             Europe
47                     continent             Africa
48                     continent             Europe
49                     continent             Africa
50                     continent      North America
51                     continent      South America
52                     continent             Europe
53                     continent            Oceania

In [4]:
df.melt(id_vars=["country"])

              country                      variable          value
0         Afghanistan                 beer_servings              0
1             Albania                 beer_servings             89
2             Algeria                 beer_servings             25
3             Andorra                 beer_servings            245
4              Angola                 beer_servings            217
5   Antigua & Barbuda                 beer_servings            102
6           Argentina                 beer_servings            193
7             Armenia                 beer_servings             21
8           Australia                 beer_servings            261
9         Afghanistan               spirit_servings              0
10            Albania               spirit_servings            132
11            Algeria               spirit_servings              0
12            Andorra               spirit_servings            138
13             Angola               spirit_servings             57
14  Antigua & Barbuda               spirit_servings            128
15          Argentina               spirit_servings             25
16            Armenia               spirit_servings            179
17          Australia               spirit_servings             72
18        Afghanistan                 wine_servings              0
19            Albania                 wine_servings             54
20            Algeria                 wine_servings             14
21            Andorra                 wine_servings            312
22             Angola                 wine_servings             45
23  Antigua & Barbuda                 wine_servings             45
24          Argentina                 wine_servings            221
25            Armenia                 wine_servings             11
26          Australia                 wine_servings            212
27        Afghanistan  total_litres_of_pure_alcohol            0.0
28            Albania  total_litres_of_pure_alcohol            4.9
29            Algeria  total_litres_of_pure_alcohol            0.7
30            Andorra  total_litres_of_pure_alcohol           12.4
31             Angola  total_litres_of_pure_alcohol            5.9
32  Antigua & Barbuda  total_litres_of_pure_alcohol            4.9
33          Argentina  total_litres_of_pure_alcohol            8.3
34            Armenia  total_litres_of_pure_alcohol            3.8
35          Australia  total_litres_of_pure_alcohol           10.4
36        Afghanistan                     continent           Asia
37            Albania                     continent         Europe
38            Algeria                     continent         Africa
39            Andorra                     continent         Europe
40             Angola                     continent         Africa
41  Antigua & Barbuda                     continent  North America
42          Argentina                     continent  South America
43            Armenia                     continent         Europe
44          Australia                     continent        Oceania

In [5]:
df.melt(id_vars=["country", "continent"])

              country      continent                      variable  value
0         Afghanistan           Asia                 beer_servings    0.0
1             Albania         Europe                 beer_servings   89.0
2             Algeria         Africa                 beer_servings   25.0
3             Andorra         Europe                 beer_servings  245.0
4              Angola         Africa                 beer_servings  217.0
5   Antigua & Barbuda  North America                 beer_servings  102.0
6           Argentina  South America                 beer_servings  193.0
7             Armenia         Europe                 beer_servings   21.0
8           Australia        Oceania                 beer_servings  261.0
9         Afghanistan           Asia               spirit_servings    0.0
10            Albania         Europe               spirit_servings  132.0
11            Algeria         Africa               spirit_servings    0.0
12            Andorra         Europe               spirit_servings  138.0
13             Angola         Africa               spirit_servings   57.0
14  Antigua & Barbuda  North America               spirit_servings  128.0
15          Argentina  South America               spirit_servings   25.0
16            Armenia         Europe               spirit_servings  179.0
17          Australia        Oceania               spirit_servings   72.0
18        Afghanistan           Asia                 wine_servings    0.0
19            Albania         Europe                 wine_servings   54.0
20            Algeria         Africa                 wine_servings   14.0
21            Andorra         Europe                 wine_servings  312.0
22             Angola         Africa                 wine_servings   45.0
23  Antigua & Barbuda  North America                 wine_servings   45.0
24          Argentina  South America                 wine_servings  221.0
25            Armenia         Europe                 wine_servings   11.0
26          Australia        Oceania                 wine_servings  212.0
27        Afghanistan           Asia  total_litres_of_pure_alcohol    0.0
28            Albania         Europe  total_litres_of_pure_alcohol    4.9
29            Algeria         Africa  total_litres_of_pure_alcohol    0.7
30            Andorra         Europe  total_litres_of_pure_alcohol   12.4
31             Angola         Africa  total_litres_of_pure_alcohol    5.9
32  Antigua & Barbuda  North America  total_litres_of_pure_alcohol    4.9
33          Argentina  South America  total_litres_of_pure_alcohol    8.3
34            Armenia         Europe  total_litres_of_pure_alcohol    3.8
35          Australia        Oceania  total_litres_of_pure_alcohol   10.4

In [10]:
df.melt(id_vars=["country"], value_vars="continent", var_name="Category", value_name="contint")

             country   Category        contint
0        Afghanistan  continent           Asia
1            Albania  continent         Europe
2            Algeria  continent         Africa
3            Andorra  continent         Europe
4             Angola  continent         Africa
5  Antigua & Barbuda  continent  North America
6          Argentina  continent  South America
7            Armenia  continent         Europe
8          Australia  continent        Oceania